NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--Root-->
  <xs:element name="NationalParks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NationalPark" type="NationaParkType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!--National Park-->
  <xs:complexType name="NationalParkType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Phone" type="xs:string" maxOccurs="unbounded"/>
      <xs:element name="Address" type="AddressType"/>
    </xs:sequence>
    <!--Optional to include a rating-->
    <xs:attribute name="Rating" type="xs:decimal" use="optional"/>
  </xs:complexType>

  <!--Address type-->
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="Number" type="xs:string"/>
      <xs:element name="Street" type="xs:string"/>
      <xs:element name="City" type="xs:string"/>
      <xs:element name="State" type="xs:string"/>
      <xs:element name="Zip" type="xs:string"/>
    </xs:sequence>

    <!--include the nearest airport attribute-->
    <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
  </xs:complexType>

</xs:schema>
